@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background: #080808;
    color: white;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-icon{
    font-size: 3.5rem;
    color: #080808;
    display: none;
}

.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}

span{
    background: linear-gradient(
        270deg,
        #DF8908 100%,
        #ff1d15 100%
    );
    background-clip: text;
    color: transparent;
}

.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: #ea580c;
    border-bottom: 3px solid #ea580c;
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}

.home-content p{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.8;
}

.home-img img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #ea580c;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px #ea580c;
    box-shadow: 0 0 50px #ea580c;
    box-shadow: 0 0 100px #ea580c;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid #ea580c;
    border-radius: 50%;
    color: #ea580c;
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: white;
    background-color: #ea580c;
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px #ea580c;
}

.btn-group{
    display: flex;
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #ea580c;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid #ea580c;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
    color: white;
    background-color: #ea580c;
    box-shadow: 0 0 25px #ea580c;
    box-shadow: 0 0 50px #ea580c;
}

.biography{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: #101010;
}

.biography-img img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #ea580c;
    transition: 0.4s ease-in-out;
}

.biography-img img:hover{
    box-shadow: 0 0 25px #ea580c;
    box-shadow: 0 0 50px #ea580c;
    box-shadow: 0 0 100px #ea580c;
}

.biography-content h2{
    font-size: 7rem;
    text-align: left;
}

.biography-content p{
    margin: 3rem 0;
    font-size: 1.7rem;
}

.biography-content .btn{
    margin: 3rem 0;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: #ea580c;
}

::-webkit-scrollbar-track{
    background-color: #080808;
}

.heading{
    text-align: center;
    font-size: 6rem;
    margin: 5rem 0;
}


.stats{
    background-color: #080808;
    color: black;
}

.stats h2{
    color: white;
}

.stats-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.stats-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea580c;
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.stats-box:hover{
    background: #101010;
    color: #ea580c;
    border: 5px solid #ea580c;
    transform: scale(1.03);
}

.stats-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    padding: 5rem;
}

.stats-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.stats-info p{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.7;
}

.stats-info i{
    font-size: 8rem;
}

.feat{
    background-color: #101010;
    color: black;
}

.feat h2{
    color: white;
}

.feat-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.feat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ea580c;
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.feat-card:hover{
    background: #080808;
    color: #ea580c;
    border: 5px solid #ea580c;
    transform: scale(1.03);
}

.feat-card h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5rem;
    font-size: 1.5rem;
    line-height: 1.7;
}

.feat-card i{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5rem;
    font-size: 8rem;
}

.gallery-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.pic{
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
}

.pic img{
    width: 100%;
    border-radius: 3rem;
    display: block;
    background-color: #ea580c;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.pic img:hover{
    border: 5px solid #ea580c;
    transform: scale(1.03);
}

.footer{
    background-color: #101010;
    padding: 50px 0;
}

.footer .social-icons{
    text-align: center;
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid #ea580c;
}

.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 13px;
}

@media only screen and (max-width:700px){
    #menu-icon{
        display: block;
        color: #ea580c;
    }
    
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #ea580c;
        border-bottom: 2px solid #ea580c;
        display: none;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar.active{
        display: block;
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }

    .home-content{
        align-items: center;
        text-align: center;
    }

    .home-img img{
        width: 56vw;
    }

    .biography{
        flex-direction: column-reverse;
        text-align: center;
    }

    .biography h2{
        text-align: center;
        margin: 2rem 0;
    }

    .biography img{
        width: 52vw;
    }
}